.sharing-icons a
{
  padding-right: 10px;
}

@mixin social-media-icon($color, $transition)
{
  -webkit-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
  &:hover{
    color: $color;
  }
}

.icon
{
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-github
{
  background-image: url("/assets/svg/github.svg");
  padding: 5px;
  @include social-media-icon($github-color, $icon-transition-time);
}

.icon-bluesky
{
  background-image: url("/assets/svg/bluesky.svg");
  padding: 5px;
  @include social-media-icon($bluesky-color, $icon-transition-time);
}

.icon-instagram
{
  background-image: url("/assets/svg/instagram.svg");
  padding: 5px;
  @include social-media-icon($instagram-color, $icon-transition-time);
}

.icon-youtube
{
  background-image: url("/assets/svg/youtube.svg");
  padding: 5px;
  @include social-media-icon($youtube-color, $icon-transition-time);
}

.icon-facebook
{
  background-image: url("/assets/svg/facebook.svg");
  padding: 5px;
  @include social-media-icon($facebook-color, $icon-transition-time);
}

.icon-twitter
{
  background-image: url("/assets/svg/twitter.svg");
  padding: 5px;
  @include social-media-icon($twitter-color, $icon-transition-time);
}

.icon-reddit
{
  background-image: url("/assets/svg/reddit.svg");
  padding: 5px;
  @include social-media-icon($reddit-color, $icon-transition-time);
}

.icon-discord
{
  background-image: url("/assets/svg/discord.svg");
  padding: 5px;
  @include social-media-icon($discord-color, $icon-transition-time);
}

.icon-envelope
{
  background-image: url("/assets/svg/envelope.svg");
  padding: 5px;
  @include social-media-icon($envelope-color, $icon-transition-time);
}

.icon-square-rss
{
  background-image: url("/assets/svg/square-rss.svg");
  padding: 5px;
  @include social-media-icon($rss-color, $icon-transition-time);
}

.icon-hashtag
{
  background-image: url("/assets/svg/hashtag.svg");
}

.icon-clock
{
  background-image: url("/assets/svg/clock.svg");
}

.icon-calendar
{
  background-image: url("/assets/svg/calendar.svg");
}

.icon-link
{
  background-image: url("/assets/svg/link.svg");
}
