---
layout: default-article
---
<main class="h-entry">
  <link rel="author" class="p-author h-card" href="https://fafau06.github.io/" content="Fafau06">
  {% if page.image %}
    <img class="content-image u-photo" src="{{ site.github.url }}/assets/img/{{ page.image }}"/>
  {% endif %}
  <article class="content-post e-content">
    {{ content }}
  </article>
  <small class="p-category">
    {{ page.tags }}
  </small>
  {% if site.hide_post_date != true %}
    {% include post-date.html %}
  {% endif %}
</main>
<script src="https://u.widget.st/ar.js"></script>
