---
layout: default
---

{% assign image_files = site.static_files | where: "image", true %}
{% for myimage in image_files %}
  {{ myimage.static_files }}
{% endfor %}

<!--<div class="gallery">
  {% for item in site.gallery %}
    <div class="gallery-item">
      <a href="{{ item.url | relative_url }}">
        <img src="{{ item.image | relative_url }}" alt="{{ item.title }}">
        <div class="gallery-item-overlay">
          <span class="gallery-item-title">{{ item.title }}</span>
        </div>
      </a>
    </div>
  {% endfor %}
</div>-->
<!-- stolen from https://ningxia233.github.io/ -->
